aws_region         = "eu-west-1"
vpc_id             = "vpc-xxxxxxxx"
public_subnet_id   = "subnet-xxxxxxxx"
private_subnet_ids = ["subnet-aaaaaaa", "subnet-bbbbbbb"]

# Optional when using SSM only.
key_name = ""

domain_name     = "myosotis.example.com"
route53_zone_id = ""
